/* Icomoon */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?igdt66');
	src:url('../fonts/icomoon.eot?#iefixigdt66') format('embedded-opentype'),
		url('../fonts/icomoon.woff?igdt66') format('woff'),
		url('../fonts/icomoon.ttf?igdt66') format('truetype'),
		url('../fonts/icomoon.svg?igdt66#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.outlook {
	color: #fff;
	border-radius: 50%;
	font-weight: bold;
}
.icon-arrow-right {
	position: relative;
	top: 2px;
	margin-left: 2px;
}
.icon-arrow-right {
	position: relative;
	top: 2px;
	margin-right: 2px;
}

.icon-arrow:before {
	content: "\e604";
}
.icon-minus:before {
	content: "\e605";
}
.icon-plus:before {
	content: "\e606";
}
.icon-mail:before {
	content: "\e600";
}
.icon-googleplus:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-arrow-right:before {
	content: "\e608";
}
.icon-arrow-left:before {
	content: "\e609";
}