<div class="alert alert-info preview hidden" role="alert">Obs! Detta är en preview-version av Branschbarometern.</div>
<div id="header">
	<div class="wrapper">
		<h1>Branschbarometern</h1>
		<div class="subtitle">Vart är Sveriges ekonomi på väg det närmaste halvåret? Vi har frågat våra medlemsklubbar.</div>
    <div class="total-outlook">
      <div class="card-row">
        <div class="cell icon">
          <span class="icon-arrow outlook {{ latest.outlook.className }}"></span>
        </div>
        <div class="cell">
          <div class="overview">
            <label>Framtidsutsikt just nu:</label>
            <span class="value">{{ latest.outlook.label }} jämfört med tidigare</span>
          </div>
        </div>
      </div>
    </div>
	</div>
  <button class="btn btn-link btn-xs" data-toggle="collapse" data-target="#total-outlook-history">
    Visa historik
  </button>
  <div class="history-chart collapse" id="total-outlook-history">  
    {{> history total}}
  </div>

</div>

<!-- Tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active" data-category="industry">
    <a href="#industry">Bransch</a>
  </li>
  <li data-category="category">
    <a href="#category">Nyckeltal</a>
  </li>
</ul>


<!-- Containers -->
<div class="content">
  <div class="loading">
    <div class="wrapper">
  
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div class="loading-text"></div>
    </div>
  </div>
  <div id="cards"></div>
</div>


<!-- Latest update -->
<div id="latest-update"></div>

<div id="footnote">*) Vi gjorde om branschindelningen 2015 vilket gör att det saknas historik för en del branscher.</div>