<div class="alert alert-info preview hidden" role="alert">Obs! Detta är en preview-version av Branschbarometern.</div>
<div id="header">
	<div class="wrapper">
		<h1>Branschbarometern</h1>
		<div class="subtitle">Vart är Sveriges ekonomi på väg? Vi har frågat våra medlemsklubbar.</div>
    <div class="total-outlook hidden">
      <div class="card-row">
        <div class="cell icon">
          <span class="icon-arrow outlook"></span>
        </div>
        <div class="cell">
          <div class="overview">
            <label>Framtidsutsikt just nu:</label>
            <span class="value"></span>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>

<!-- Tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active" data-category="industry">
    <a href="#industry">Bransch</a>
  </li>
  <li data-category="category">
    <a href="#category">Nyckeltal</a>
  </li>
</ul>


<!-- Containers -->
<div class="content">
  <div class="loading">
    <div class="wrapper">
  
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div class="loading-text"></div>
    </div>
  </div>
  <div id="cards"></div>
</div>


<!-- Latest update -->
<div id="latest-update"></div>