
<div class="card-row">
  <div class="cell icon">
    <div class="chart"></div>
  </div>
  <div class="cell description">
    <label>Jämfört med tidigare:</label>
    <span class="value"></span>
  </div>
</div>
