<div id="header">
	<div class="wrapper">
		<h1>Konjunkturbarometern</h1>
		<div class="subtitle">S책 h채r ser unionens medlemmar p책 framtiden.</div>
	</div>
</div>

<!-- Tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active" data-category="industry">
    <a href="#industry" role="tab" data-toggle="tab">Ordna efter industri</a>
  </li>
  <li data-category="category">
    <a href="#category" role="tab" data-toggle="tab">Ordna efter nyckeltal</a>
  </li>
</ul>

<!-- Containers -->
<div class="tab-content">
  <div class="tab-pane active" id="industry"></div>
  <div class="tab-pane" id="category"></div>
</div>
<div class="loading">L채ser in data</div>